.bio {
    background-color: #fff;

    // Centers the section in the page container
    //grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: minmax(45rem, 98rem);
    justify-content: center;
    margin: 0 30rem; // needs media queries

    
}

.bio-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);
    margin-bottom: 20rem;
    padding: 5rem 5rem 0 5rem;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(7, 1fr);
    
    justify-items: center;
    align-items: center;
}

.bio-headline {
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    color: $color-grey-light-2;
    margin-bottom: 2rem;
    
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

// .bio-subheading {
//     font-weight: normal;
//     margin-bottom: 2rem;

//     grid-row: 2 / 3;
//     grid-column: 1 / -1;
// }

.bio-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: -2rem;

    grid-row: 2 / 3;
    grid-column: 1 / -1;
}


.bio-img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    

    grid-row: 3 / 4;
    grid-column: 4 / 5;

    transform: translateY(40%);
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);
}

