.header {
    background-image: linear-gradient(rgba(233, 225, 225, 0.5) 15%, $color-grey-light-1);   
}

.hero-container {
    display: grid;
    
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr);
    grid-template-rows: 20rem repeat(4, min-content) 10rem;

}

.hero-content {
    
    &--headline {
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 10rem;
        line-height: 9rem;
        font-weight: 900;

        // Creating text color gradient
        background-image: linear-gradient(to right, rgba(201, 87, 201, 0.584), rgba(247, 180, 192, 0.899) 50%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        grid-row: 2 / 3;
        grid-column: 4 / 8;  

        // Headline typography modifications
        &--first-word-size {
            font-size: 10.25rem;
        }
        &--ampersand {
            color: rgba(186, 9, 186, 0.5);
            position: absolute;
        }
    }

    &--subheading {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        margin-top: 8rem;

        font-weight: 100;
        font-size: 3rem;
        text-align: center;
    }

    &--intro-text {
        grid-row: 4 / 5;
        grid-column: 5 / 7;

        font-weight: 100;
        font-size: 2rem;
        text-align: center;
    }
}


// BUTTONS ARE A MESS - NEEDS FIXING!!
.hero-content-btn {
    width: 80%;
    margin-top: 5rem;

    &--works {
        grid-row: 5 / 6;
        grid-column: 5 / 6;
        justify-self: start;
    }

    &--contact {
        grid-row: 5 / 6;
        grid-column: 6 / 7;
        justify-self: end;
    }
}

.arrow-test {
    font-size: 10rem;
    font-weight: 100;
    color: rgb(213, 211, 211);
    transform: rotate(90deg) translate(87px, -10px); 

    grid-row: 6 / 7;
    grid-column: 5 / 7;
    justify-self: center;
    align-self: end;
}



