.header {
    grid-column: full-start / full-end;

    background-color: $color-grey-light-1;
    padding: 4rem 8rem 8rem 8rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr) ;
    grid-gap: 1.5rem;
    padding: 1.5rem;
}

.hero-content {
    
    &--headline {
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 10rem;
        line-height: 9rem;
        font-weight: 900;
        //transform: translateY(1rem);
        

        // Creating text color gradient
        background-image: linear-gradient(to right, rgba(186, 9, 186, 0.584), rgba(247, 180, 192, 0.899));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        //letter-spacing: 0.2rem;

        grid-row: 2 / 3;
        grid-column: 2 / 4;

        
    }

    &--subheading {
        grid-row: 3 / 4;
        grid-column: 2 / 5;

        transform: translateY(-3rem);
        transform: translateX(0.5rem);
    }
}

.hero-content-btn {

    &--works {
        grid-row: 4 / 5;
        grid-column: 2 / 3;

        height: 4rem; // TESTING
    }

    &--contact {
        grid-row: 4 / 5;
        grid-column: 3 / 4;

        height: 4rem; // TESTING
    }
}

