.form {
    margin-top: 10rem;

    &__group {
        width: 75%;
        margin: 0 auto;
    }

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-grey-light-2, 0.5);
        border: none;
        border-bottom: 3px solid transparent; // to create space for the focus bar at the bottom of the input field
        width: 100%;
        display: block;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary; 
        }

        // adds a orange/red underline if the text is invalid
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark; 
        }

        &::-webkit-input-placeholder {
            color: $color-light-red;
        }

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    // adjacent sibling selector + , General sibling selector ~
    // When doing this, the label MUST come directly after the input in the HTML
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);

    }

}

textarea {
    resize: vertical; /* user can resize vertically, but width is fixed */
}

