.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-black, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    // Hide lightbox from view until the anchor is clicked
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s;

    // GRACEFUL DEGRADATION EXAMPLE
    // Blurs background behind the popup (not supported in all browsers)
    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, 0.3);
    }


    &__content {
        @include absoluteCenter;

        width: 75%;
        background-color: rgba($color-white, 1);
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 5px;
        overflow: hidden; // makes img corners conform to the box's border radius

        display: table; // set the parent to table and use for left and right layout fix

        // Setting the initial state ready for launch animation
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.25); // has to be repeated from the mixin as only one transform declairation is allowed in CSS

        transition: all 0.5s .2s;

    }

    &__left {
        width: 33.333333%; // one third
        display: table-cell;
    }

    &__right {
        width: 66.666666%; // two thirds
        display: table-cell;
        vertical-align: middle; // Can also be set to "top" or "bottom"
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2; // adds a virtical line between the columns

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; // auto hyphenates words on line breaks - Document language must be set in the HTML "<html lang="en">"
    }

    // OPEN STATES
    // selects the target generated by clicking the anchor
    &:target {
        opacity: 1;
        visibility: visible;
    }

    // Style the content when the container ID becomes the target
    &:target &__content {
        // Setting the end state for the launch animation
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); 
    }

    // Used to close the lightbox effect
    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            line-height: 1; // resets the inherited line height to the X
            top: 2rem;
            right: 3rem;
            font-size: 6rem;
            font-weight: 100;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
        }

        &:hover {
            color: $color-light-red;
        }
    }
}