.social-icons-container {

    // &--header {
    //    
    // }

    &--footer {
        margin-left: 1rem;

        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
}

.social-icons-links {
    text-decoration: none;
}

.social-icon {
    height: 3.5rem;
    fill: $color-grey-light-2;

    // &--header {
    //    
    // }

    // &--footer {

    // }
}