.social-icons {

    &--header {
        grid-row: 5 / 6;
        grid-column: 5 / 6;

        justify-content: center;

    }

    &--footer {
        margin-left: 1rem;

        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    
}

.social-links {
    text-decoration: none;
}

.icon-edu {
    fill: $color-grey-light-2;
}